# Grouping Data with SQL

## Introduction

Just as with Pandas, we can use aggregate functions in SQL to assist with data manipulation. Sometimes you may wish to find the mean, median, min, or max of a column feature. For example, there could be a customer relational database that you've been working with and you may wonder if there are differences in overall sales across offices or regions.

## Objectives

You will be able to:

* Write queries with aggregate functions like `COUNT`, `MAX`, `MIN`, and `SUM`
* Create an alias for the return value of an aggregate function
* Use `GROUP BY` to sort the data sets returned by aggregate functions
* Compare aggregates using the `HAVING` clause

## Database Schema
<img src="images/Database-Schema.png">

In [2]:
import sqlite3
import pandas as pd

## Connecting to the Database

As usual, start by creating a connection to the database and instantiating a cursor object.

In [3]:
conn = sqlite3.Connection('data.sqlite')
cur = conn.cursor()

## `GROUP BY` and Aggregate Functions

Lets start by looking at some `GROUP BY` statements to aggregate our data. The `GROUP BY` clause groups records into summary rows and returns one records for each group.
Typically, `GROUP BY`  also involves an aggregate function (`COUNT`, `AVG`, etc.). Lastly, `GROUP BY` can group by one or more columns.

In the cell below, we'll join the offices and employees tables in order to count the number of employees per city.

In [4]:
cur.execute("""SELECT city, COUNT(employeeNumber)
                      FROM offices
                      JOIN employees
                      USING(officeCode)
                      GROUP BY city
                      ORDER BY count(employeeNumber) DESC;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head()

            city  COUNT(employeeNumber)
0  San Francisco                      6
1          Paris                      5
2         Sydney                      4
3         Boston                      2
4         London                      2

## Aliasing

An Alias is a shorthand for a table or column name. Aliases reduce the amount of typing required to enter a query. Generally, complex queries with aliases are easier to read.
Aliases are useful with `JOIN`, `GROUP BY`, and aggregates (`SUM`, `COUNT`, etc.).
An Alias only exists for the duration of the query.

You can alias your `GROUP BY` by specifying the index of our selection order that we want to group by. This is simply written as `GROUP BY 1`, with the number "1" referring to the first column name that we are selecting.

Additionally, we can also rename our aggregate to a more descriptive name using the `AS` clause.

In [4]:
cur.execute("""SELECT city, COUNT(employeeNumber) AS numEmployees
               FROM offices
               JOIN employees
               USING(officeCode)
               GROUP BY 1
               ORDER BY numEmployees DESC;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head()

            city  numEmployees
0  San Francisco             6
1          Paris             5
2         Sydney             4
3         Boston             2
4         London             2

## Other Aggregations

Aside from `COUNT()` some other useful aggregations include:
- `MIN()`
- `MAX()`
- `SUM()`
- `AVG()`

In [5]:
cur.execute("""SELECT customerName,
               COUNT(customerName) AS number_purchases,
               MIN(amount) AS min_purchase,
               MAX(amount) AS max_purchase,
               AVG(amount) AS avg_purchase,
               SUM(amount) AS total_spent
               FROM customers
               JOIN payments
               USING(customerNumber)
               GROUP BY 1
               ORDER BY SUM(amount) DESC;""")
df = pd.DataFrame(cur.fetchall())
df. columns = [i[0] for i in cur.description]
print(len(df))
df.head()

98

,customerName,number_purchases,min_purchase,max_purchase,avg_purchase,total_spent
0,Euro+ Shopping Channel,13,116208.40,65071.26,55056.844615,715738.98
1,Mini Gifts Distributors Ltd.,9,101244.59,85410.87,64909.804444,584188.24
2,"Australian Collectors, Co.",4,44894.74,82261.22,45146.267500,180585.07
3,Muscle Machine Inc,4,20314.44,58841.35,44478.487500,177913.95
4,"Dragon Souveniers, Ltd.",4,105743.00,44380.15,39062.757500,156251.03

In [6]:
df.tail()

,customerName,number_purchases,min_purchase,max_purchase,avg_purchase,total_spent
93,Royale Belge,4,1128.20,1627.56,7304.295000,29217.18
94,Frau da Collezione,2,17746.26,7612.06,12679.160000,25358.32
95,Atelier graphique,3,14571.44,6066.78,7438.120000,22314.36
96,Auto-Moto Classics Inc.,3,5858.56,9658.74,7184.753333,21554.26
97,Boards & Toys Co.,2,3452.75,4465.85,3959.300000,7918.60

## The `HAVING` clause

Finally, we can also filter our aggregated views with the `HAVING` clause. The `HAVING` clause works similarly to the `WHERE` clause, except it is used to filter data selections on conditions **after** the `GROUP BY` clause. For example, if we wanted to filter based on a customer's last name, we would use the `WHERE` clause. However, if we wanted to filter a list of cities with at least 5 customers, we would using the `HAVING` clause. First, we would `GROUP BY` city and then use the `HAVING` clause, which will allow us to pass conditions on the result of this aggregation.

In [12]:
cur.execute("""SELECT city, COUNT(customerNumber) AS number_customers
               FROM customers
               GROUP BY 1
               HAVING COUNT(customerNumber)>=5;""")
df = pd.DataFrame(cur.fetchall())
df. columns = [i[0] for i in cur.description]
print(len(df))
df.head()
# so WHERE is for columns, HAVING is for aggregate funcs

2

     city  number_customers
0  Madrid                 5
1     NYC                 5

In [14]:
cur.execute('''SELECT * from customers''').fetchall()

[('103',
  'Atelier graphique',
  'Schmitt',
  'Carine ',
  '40.32.2555',
  '54, rue Royale',
  '',
  'Nantes',
  '',
  '44000',
  'France',
  '1370',
  '21000.00'),
 ('112',
  'Signal Gift Stores',
  'King',
  'Jean',
  '7025551838',
  '8489 Strong St.',
  '',
  'Las Vegas',
  'NV',
  '83030',
  'USA',
  '1166',
  '71800.00'),
 ('114',
  'Australian Collectors, Co.',
  'Ferguson',
  'Peter',
  '03 9520 4555',
  '636 St Kilda Road',
  'Level 3',
  'Melbourne',
  'Victoria',
  '3004',
  'Australia',
  '1611',
  '117300.00'),
 ('119',
  'La Rochelle Gifts',
  'Labrune',
  'Janine ',
  '40.67.8555',
  '67, rue des Cinquante Otages',
  '',
  'Nantes',
  '',
  '44000',
  'France',
  '1370',
  '118200.00'),
 ('121',
  'Baane Mini Imports',
  'Bergulfsen',
  'Jonas ',
  '07-98 9555',
  'Erling Skakkes gate 78',
  '',
  'Stavern',
  '',
  '4110',
  'Norway',
  '1504',
  '81700.00'),
 ('124',
  'Mini Gifts Distributors Ltd.',
  'Nelson',
  'Susan',
  '4155551450',
  '5677 Strong St.',
  '',
  'San Rafael',
  'CA',
  '97562',
  'USA',
  '1165',
  '210500.00'),
 ('125',
  'Havel & Zbyszek Co',
  'Piestrzeniewicz',
  'Zbyszek ',
  '(26) 642-7555',
  'ul. Filtrowa 68',
  '',
  'Warszawa',
  '',
  '01-012',
  'Poland',
  '',
  '0.00'),
 ('128',
  'Blauer See Auto, Co.',
  'Keitel',
  'Roland',
  '+49 69 66 90 2555',
  'Lyonerstr. 34',
  '',
  'Frankfurt',
  '',
  '60528',
  'Germany',
  '1504',
  '59700.00'),
 ('129',
  'Mini Wheels Co.',
  'Murphy',
  'Julie',
  '6505555787',
  '5557 North Pendale Street',
  '',
  'San Francisco',
  'CA',
  '94217',
  'USA',
  '1165',
  '64600.00'),
 ('131',
  'Land of Toys Inc.',
  'Lee',
  'Kwai',
  '2125557818',
  '897 Long Airport Avenue',
  '',
  'NYC',
  'NY',
  '10022',
  'USA',
  '1323',
  '114900.00'),
 ('141',
  'Euro+ Shopping Channel',
  'Freyre',
  'Diego ',
  '(91) 555 94 44',
  'C/ Moralzarzal, 86',
  '',
  'Madrid',
  '',
  '28034',
  'Spain',
  '1370',
  '227600.00'),
 ('144',
  'Volvo Model Replicas, Co',
  'Berglund',
  'Christina ',
  '0921-12 3555',
  'Berguvsvägen  8',
  '',
  'Luleå',
  '',
  'S-958 22',
  'Sweden',
  '1504',
  '53100.00'),
 ('145',
  'Danish Wholesale Imports',
  'Petersen',
  'Jytte ',
  '31 12 3555',
  'Vinbæltet 34',
  '',
  'Kobenhavn',
  '',
  '1734',
  'Denmark',
  '1401',
  '83400.00'),
 ('146',
  'Saveley & Henriot, Co.',
  'Saveley',
  'Mary ',
  '78.32.5555',
  '2, rue du Commerce',
  '',
  'Lyon',
  '',
  '69004',
  'France',
  '1337',
  '123900.00'),
 ('148',
  'Dragon Souveniers, Ltd.',
  'Natividad',
  'Eric',
  '+65 221 7555',
  'Bronz Sok.',
  'Bronz Apt. 3/6 Tesvikiye',
  'Singapore',
  '',
  '079903',
  'Singapore',
  '1621',
  '103800.00'),
 ('151',
  'Muscle Machine Inc',
  'Young',
  'Jeff',
  '2125557413',
  '4092 Furth Circle',
  'Suite 400',
  'NYC',
  'NY',
  '10022',
  'USA',
  '1286',
  '138500.00'),
 ('157',
  'Diecast Classics Inc.',
  'Leong',
  'Kelvin',
  '2155551555',
  '7586 Pompton St.',
  '',
  'Allentown',
  'PA',
  '70267',
  'USA',
  '1216',
  '100600.00'),
 ('161',
  'Technics Stores Inc.',
  'Hashimoto',
  'Juri',
  '6505556809',
  '9408 Furth Circle',
  '',
  'Burlingame',
  'CA',
  '94217',
  'USA',
  '1165',
  '84600.00'),
 ('166',
  'Handji Gifts& Co',
  'Victorino',
  'Wendy',
  '+65 224 1555',
  '106 Linden Road Sandown',
  '2nd Floor',
  'Singapore',
  '',
  '069045',
  'Singapore',
  '1612',
  '97900.00'),
 ('167',
  'Herkku Gifts',
  'Oeztan',
  'Veysel',
  '+47 2267 3215',
  'Brehmen St. 121',
  'PR 334 Sentrum',
  'Bergen',
  '',
  'N 5804',
  'Norway  ',
  '1504',
  '96800.00'),
 ('168',
  'American Souvenirs Inc',
  'Franco',
  'Keith',
  '2035557845',
  '149 Spinnaker Dr.',
  'Suite 101',
  'New Haven',
  'CT',
  '97823',
  'USA',
  '1286',
  '0.00'),
 ('169',
  'Porto Imports Co.',
  'de Castro',
  'Isabel ',
  '(1) 356-5555',
  'Estrada da saúde n. 58',
  '',
  'Lisboa',
  '',
  '1756',
  'Portugal',
  '',
  '0.00'),
 ('171',
  'Daedalus Designs Imports',
  'Rancé',
  'Martine ',
  '20.16.1555',
  '184, chaussée de Tournai',
  '',
  'Lille',
  '',
  '59000',
  'France',
  '1370',
  '82900.00'),
 ('172',
  "La Corne D'abondance, Co.",
  'Bertrand',
  'Marie',
  '(1) 42.34.2555',
  '265, boulevard Charonne',
  '',
  'Paris',
  '',
  '75012',
  'France',
  '1337',
  '84300.00'),
 ('173',
  'Cambridge Collectables Co.',
  'Tseng',
  'Jerry',
  '6175555555',
  '4658 Baden Av.',
  '',
  'Cambridge',
  'MA',
  '51247',
  'USA',
  '1188',
  '43400.00'),
 ('175',
  'Gift Depot Inc.',
  'King',
  'Julie',
  '2035552570',
  '25593 South Bay Ln.',
  '',
  'Bridgewater',
  'CT',
  '97562',
  'USA',
  '1323',
  '84300.00'),
 ('177',
  'Osaka Souveniers Co.',
  'Kentary',
  'Mory',
  '+81 06 6342 5555',
  '1-6-20 Dojima',
  '',
  'Kita-ku',
  'Osaka',
  ' 530-0003',
  'Japan',
  '1621',
  '81200.00'),
 ('181',
  'Vitachrome Inc.',
  'Frick',
  'Michael',
  '2125551500',
  '2678 Kingston Rd.',
  'Suite 101',
  'NYC',
  'NY',
  '10022',
  'USA',
  '1286',
  '76400.00'),
 ('186',
  'Toys of Finland, Co.',
  'Karttunen',
  'Matti',
  '90-224 8555',
  'Keskuskatu 45',
  '',
  'Helsinki',
  '',
  '21240',
  'Finland',
  '1501',
  '96500.00'),
 ('187',
  'AV Stores, Co.',
  'Ashworth',
  'Rachel',
  '(171) 555-1555',
  'Fauntleroy Circus',
  '',
  'Manchester',
  '',
  'EC2 5NT',
  'UK',
  '1501',
  '136800.00'),
 ('189',
  'Clover Collections, Co.',
  'Cassidy',
  'Dean',
  '+353 1862 1555',
  '25 Maiden Lane',
  'Floor No. 4',
  'Dublin',
  '',
  '2',
  'Ireland',
  '1504',
  '69400.00'),
 ('198',
  'Auto-Moto Classics Inc.',
  'Taylor',
  'Leslie',
  '6175558428',
  '16780 Pompton St.',
  '',
  'Brickhaven',
  'MA',
  '58339',
  'USA',
  '1216',
  '23000.00'),
 ('201',
  'UK Collectables, Ltd.',
  'Devon',
  'Elizabeth',
  '(171) 555-2282',
  '12, Berkeley Gardens Blvd',
  '',
  'Liverpool',
  '',
  'WX1 6LT',
  'UK',
  '1501',
  '92700.00'),
 ('202',
  'Canadian Gift Exchange Network',
  'Tamuri',
  'Yoshi ',
  '(604) 555-3392',
  '1900 Oak St.',
  '',
  'Vancouver',
  'BC',
  'V3F 2K1',
  'Canada',
  '1323',
  '90300.00'),
 ('204',
  'Online Mini Collectables',
  'Barajas',
  'Miguel',
  '6175557555',
  '7635 Spinnaker Dr.',
  '',
  'Brickhaven',
  'MA',
  '58339',
  'USA',
  '1188',
  '68700.00'),
 ('205',
  'Toys4GrownUps.com',
  'Young',
  'Julie',
  '6265557265',
  '78934 Hillside Dr.',
  '',
  'Pasadena',
  'CA',
  '90003',
  'USA',
  '1166',
  '90700.00'),
 ('206',
  'Asian Shopping Network, Co',
  'Walker',
  'Brydey',
  '+612 9411 1555',
  'Suntec Tower Three',
  '8 Temasek',
  'Singapore',
  '',
  '038988',
  'Singapore',
  '',
  '0.00'),
 ('209',
  'Mini Caravy',
  'Citeaux',
  'Frédérique ',
  '88.60.1555',
  '24, place Kléber',
  '',
  'Strasbourg',
  '',
  '67000',
  'France',
  '1370',
  '53800.00'),
 ('211',
  'King Kong Collectables, Co.',
  'Gao',
  'Mike',
  '+852 2251 1555',
  'Bank of China Tower',
  '1 Garden Road',
  'Central Hong Kong',
  '',
  '',
  'Hong Kong',
  '1621',
  '58600.00'),
 ('216',
  'Enaco Distributors',
  'Saavedra',
  'Eduardo ',
  '(93) 203 4555',
  'Rambla de Cataluña, 23',
  '',
  'Barcelona',
  '',
  '08022',
  'Spain',
  '1702',
  '60300.00'),
 ('219',
  'Boards & Toys Co.',
  'Young',
  'Mary',
  '3105552373',
  '4097 Douglas Av.',
  '',
  'Glendale',
  'CA',
  '92561',
  'USA',
  '1166',
  '11000.00'),
 ('223',
  'Natürlich Autos',
  'Kloss',
  'Horst ',
  '0372-555188',
  'Taucherstraße 10',
  '',
  'Cunewalde',
  '',
  '01307',
  'Germany',
  '',
  '0.00'),
 ('227',
  'Heintze Collectables',
  'Ibsen',
  'Palle',
  '86 21 3555',
  'Smagsloget 45',
  '',
  'Århus',
  '',
  '8200',
  'Denmark',
  '1401',
  '120800.00'),
 ('233',
  'Québec Home Shopping Network',
  'Fresnière',
  'Jean ',
  '(514) 555-8054',
  '43 rue St. Laurent',
  '',
  'Montréal',
  'Québec',
  'H1J 1C3',
  'Canada',
  '1286',
  '48700.00'),
 ('237',
  'ANG Resellers',
  'Camino',
  'Alejandra ',
  '(91) 745 6555',
  'Gran Vía, 1',
  '',
  'Madrid',
  '',
  '28001',
  'Spain',
  '',
  '0.00'),
 ('239',
  'Collectable Mini Designs Co.',
  'Thompson',
  'Valarie',
  '7605558146',
  '361 Furth Circle',
  '',
  'San Diego',
  'CA',
  '91217',
  'USA',
  '1166',
  '105000.00'),
 ('240',
  'giftsbymail.co.uk',
  'Bennett',
  'Helen ',
  '(198) 555-8888',
  'Garden House',
  'Crowther Way 23',
  'Cowes',
  'Isle of Wight',
  'PO31 7PJ',
  'UK',
  '1501',
  '93900.00'),
 ('242',
  'Alpha Cognac',
  'Roulet',
  'Annette ',
  '61.77.6555',
  '1 rue Alsace-Lorraine',
  '',
  'Toulouse',
  '',
  '31000',
  'France',
  '1370',
  '61100.00'),
 ('247',
  'Messner Shopping Network',
  'Messner',
  'Renate ',
  '069-0555984',
  'Magazinweg 7',
  '',
  'Frankfurt',
  '',
  '60528',
  'Germany',
  '',
  '0.00'),
 ('249',
  'Amica Models & Co.',
  'Accorti',
  'Paolo ',
  '011-4988555',
  'Via Monte Bianco 34',
  '',
  'Torino',
  '',
  '10100',
  'Italy',
  '1401',
  '113000.00'),
 ('250',
  'Lyon Souveniers',
  'Da Silva',
  'Daniel',
  '+33 1 46 62 7555',
  '27 rue du Colonel Pierre Avia',
  '',
  'Paris',
  '',
  '75508',
  'France',
  '1337',
  '68100.00'),
 ('256',
  'Auto Associés & Cie.',
  'Tonini',
  'Daniel ',
  '30.59.8555',
  "67, avenue de l'Europe",
  '',
  'Versailles',
  '',
  '78000',
  'France',
  '1370',
  '77900.00'),
 ('259',
  'Toms Spezialitäten, Ltd',
  'Pfalzheim',
  'Henriette ',
  '0221-5554327',
  'Mehrheimerstr. 369',
  '',
  'Köln',
  '',
  '50739',
  'Germany',
  '1504',
  '120400.00'),
 ('260',
  'Royal Canadian Collectables, Ltd.',
  'Lincoln',
  'Elizabeth ',
  '(604) 555-4555',
  '23 Tsawassen Blvd.',
  '',
  'Tsawassen',
  'BC',
  'T2F 8M4',
  'Canada',
  '1323',
  '89600.00'),
 ('273',
  'Franken Gifts, Co',
  'Franken',
  'Peter ',
  '089-0877555',
  'Berliner Platz 43',
  '',
  'München',
  '',
  '80805',
  'Germany',
  '',
  '0.00'),
 ('276',
  "Anna's Decorations, Ltd",
  "O'Hara",
  'Anna',
  '02 9936 8555',
  '201 Miller Street',
  'Level 15',
  'North Sydney',
  'NSW',
  '2060',
  'Australia',
  '1611',
  '107800.00'),
 ('278',
  'Rovelli Gifts',
  'Rovelli',
  'Giovanni ',
  '035-640555',
  'Via Ludovico il Moro 22',
  '',
  'Bergamo',
  '',
  '24100',
  'Italy',
  '1401',
  '119600.00'),
 ('282',
  'Souveniers And Things Co.',
  'Huxley',
  'Adrian',
  '+61 2 9495 8555',
  'Monitor Money Building',
  '815 Pacific Hwy',
  'Chatswood',
  'NSW',
  '2067',
  'Australia',
  '1611',
  '93300.00'),
 ('286',
  "Marta's Replicas Co.",
  'Hernandez',
  'Marta',
  '6175558555',
  '39323 Spinnaker Dr.',
  '',
  'Cambridge',
  'MA',
  '51247',
  'USA',
  '1216',
  '123700.00'),
 ('293',
  'BG&E Collectables',
  'Harrison',
  'Ed',
  '+41 26 425 50 01',
  'Rte des Arsenaux 41 ',
  '',
  'Fribourg',
  '',
  '1700',
  'Switzerland',
  '',
  '0.00'),
 ('298',
  'Vida Sport, Ltd',
  'Holz',
  'Mihael',
  '0897-034555',
  'Grenzacherweg 237',
  '',
  'Genève',
  '',
  '1203',
  'Switzerland',
  '1702',
  '141300.00'),
 ('299',
  'Norway Gifts By Mail, Co.',
  'Klaeboe',
  'Jan',
  '+47 2212 1555',
  'Drammensveien 126A',
  'PB 211 Sentrum',
  'Oslo',
  '',
  'N 0106',
  'Norway  ',
  '1504',
  '95100.00'),
 ('303',
  'Schuyler Imports',
  'Schuyler',
  'Bradley',
  '+31 20 491 9555',
  'Kingsfordweg 151',
  '',
  'Amsterdam',
  '',
  '1043 GR',
  'Netherlands',
  '',
  '0.00'),
 ('307',
  'Der Hund Imports',
  'Andersen',
  'Mel',
  '030-0074555',
  'Obere Str. 57',
  '',
  'Berlin',
  '',
  '12209',
  'Germany',
  '',
  '0.00'),
 ('311',
  'Oulu Toy Supplies, Inc.',
  'Koskitalo',
  'Pirkko',
  '981-443655',
  'Torikatu 38',
  '',
  'Oulu',
  '',
  '90110',
  'Finland',
  '1501',
  '90500.00'),
 ('314',
  'Petit Auto',
  'Dewey',
  'Catherine ',
  '(02) 5554 67',
  'Rue Joseph-Bens 532',
  '',
  'Bruxelles',
  '',
  'B-1180',
  'Belgium',
  '1401',
  '79900.00'),
 ('319',
  'Mini Classics',
  'Frick',
  'Steve',
  '9145554562',
  '3758 North Pendale Street',
  '',
  'White Plains',
  'NY',
  '24067',
  'USA',
  '1323',
  '102700.00'),
 ('320',
  'Mini Creations Ltd.',
  'Huang',
  'Wing',
  '5085559555',
  '4575 Hillside Dr.',
  '',
  'New Bedford',
  'MA',
  '50553',
  'USA',
  '1188',
  '94500.00'),
 ('321',
  'Corporate Gift Ideas Co.',
  'Brown',
  'Julie',
  '6505551386',
  '7734 Strong St.',
  '',
  'San Francisco',
  'CA',
  '94217',
  'USA',
  '1165',
  '105000.00'),
 ('323',
  'Down Under Souveniers, Inc',
  'Graham',
  'Mike',
  '+64 9 312 5555',
  '162-164 Grafton Road',
  'Level 2',
  'Auckland  ',
  '',
  '',
  'New Zealand',
  '1612',
  '88000.00'),
 ('324',
  'Stylish Desk Decors, Co.',
  'Brown',
  'Ann ',
  '(171) 555-0297',
  '35 King George',
  '',
  'London',
  '',
  'WX3 6FW',
  'UK',
  '1501',
  '77000.00'),
 ('328',
  'Tekni Collectables Inc.',
  'Brown',
  'William',
  '2015559350',
  '7476 Moss Rd.',
  '',
  'Newark',
  'NJ',
  '94019',
  'USA',
  '1323',
  '43000.00'),
 ('333',
  'Australian Gift Network, Co',
  'Calaghan',
  'Ben',
  '61-7-3844-6555',
  '31 Duncan St. West End',
  '',
  'South Brisbane',
  'Queensland',
  '4101',
  'Australia',
  '1611',
  '51600.00'),
 ('334',
  'Suominen Souveniers',
  'Suominen',
  'Kalle',
  '+358 9 8045 555',
  'Software Engineering Center',
  'SEC Oy',
  'Espoo',
  '',
  'FIN-02271',
  'Finland',
  '1501',
  '98800.00'),
 ('335',
  'Cramer Spezialitäten, Ltd',
  'Cramer',
  'Philip ',
  '0555-09555',
  'Maubelstr. 90',
  '',
  'Brandenburg',
  '',
  '14776',
  'Germany',
  '',
  '0.00'),
 ('339',
  'Classic Gift Ideas, Inc',
  'Cervantes',
  'Francisca',
  '2155554695',
  '782 First Street',
  '',
  'Philadelphia',
  'PA',
  '71270',
  'USA',
  '1188',
  '81100.00'),
 ('344',
  'CAF Imports',
  'Fernandez',
  'Jesus',
  '+34 913 728 555',
  'Merchants House',
  "27-30 Merchant's Quay",
  'Madrid',
  '',
  '28023',
  'Spain',
  '1702',
  '59600.00'),
 ('347',
  "Men 'R' US Retailers, Ltd.",
  'Chandler',
  'Brian',
  '2155554369',
  '6047 Douglas Av.',
  '',
  'Los Angeles',
  'CA',
  '91003',
  'USA',
  '1166',
  '57700.00'),
 ('348',
  'Asian Treasures, Inc.',
  'McKenna',
  'Patricia ',
  '2967 555',
  '8 Johnstown Road',
  '',
  'Cork',
  'Co. Cork',
  '',
  'Ireland',
  '',
  '0.00'),
 ('350',
  'Marseille Mini Autos',
  'Lebihan',
  'Laurence ',
  '91.24.4555',
  '12, rue des Bouchers',
  '',
  'Marseille',
  '',
  '13008',
  'France',
  '1337',
  '65000.00'),
 ('353',
  'Reims Collectables',
  'Henriot',
  'Paul ',
  '26.47.1555',
  "59 rue de l'Abbaye",
  '',
  'Reims',
  '',
  '51100',
  'France',
  '1337',
  '81100.00'),
 ('356',
  'SAR Distributors, Co',
  'Kuger',
  'Armand',
  '+27 21 550 3555',
  '1250 Pretorius Street',
  '',
  'Hatfield',
  'Pretoria',
  '0028',
  'South Africa',
  '',
  '0.00'),
 ('357',
  'GiftsForHim.com',
  'MacKinlay',
  'Wales',
  '64-9-3763555',
  '199 Great North Road',
  '',
  'Auckland',
  '',
  '',
  'New Zealand',
  '1612',
  '77700.00'),
 ('361',
  'Kommission Auto',
  'Josephs',
  'Karin',
  '0251-555259',
  'Luisenstr. 48',
  '',
  'Münster',
  '',
  '44087',
  'Germany',
  '',
  '0.00'),
 ('362',
  'Gifts4AllAges.com',
  'Yoshido',
  'Juri',
  '6175559555',
  '8616 Spinnaker Dr.',
  '',
  'Boston',
  'MA',
  '51003',
  'USA',
  '1216',
  '41900.00'),
 ('363',
  'Online Diecast Creations Co.',
  'Young',
  'Dorothy',
  '6035558647',
  '2304 Long Airport Avenue',
  '',
  'Nashua',
  'NH',
  '62005',
  'USA',
  '1216',
  '114200.00'),
 ('369',
  'Lisboa Souveniers, Inc',
  'Rodriguez',
  'Lino ',
  '(1) 354-2555',
  'Jardim das rosas n. 32',
  '',
  'Lisboa',
  '',
  '1675',
  'Portugal',
  '',
  '0.00'),
 ('376',
  'Precious Collectables',
  'Urs',
  'Braun',
  '0452-076555',
  'Hauptstr. 29',
  '',
  'Bern',
  '',
  '3012',
  'Switzerland',
  '1702',
  '0.00'),
 ('379',
  'Collectables For Less Inc.',
  'Nelson',
  'Allen',
  '6175558555',
  '7825 Douglas Av.',
  '',
  'Brickhaven',
  'MA',
  '58339',
  'USA',
  '1188',
  '70700.00'),
 ('381',
  'Royale Belge',
  'Cartrain',
  'Pascale ',
  '(071) 23 67 2555',
  'Boulevard Tirou, 255',
  '',
  'Charleroi',
  '',
  'B-6000',
  'Belgium',
  '1401',
  '23500.00'),
 ('382',
  'Salzburg Collectables',
  'Pipps',
  'Georg ',
  '6562-9555',
  'Geislweg 14',
  '',
  'Salzburg',
  '',
  '5020',
  'Austria',
  '1401',
  '71700.00'),
 ('385',
  'Cruz & Sons Co.',
  'Cruz',
  'Arnold',
  '+63 2 555 3587',
  '15 McCallum Street',
  'NatWest Center #13-03',
  'Makati City',
  '',
  '1227 MM',
  'Philippines',
  '1621',
  '81500.00'),
 ('386',
  "L'ordine Souveniers",
  'Moroni',
  'Maurizio ',
  '0522-556555',
  'Strada Provinciale 124',
  '',
  'Reggio Emilia',
  '',
  '42100',
  'Italy',
  '1401',
  '121400.00'),
 ('398',
  'Tokyo Collectables, Ltd',
  'Shimamura',
  'Akiko',
  '+81 3 3584 0555',
  '2-2-8 Roppongi',
  '',
  'Minato-ku',
  'Tokyo',
  '106-0032',
  'Japan',
  '1621',
  '94400.00'),
 ('406',
  'Auto Canal+ Petit',
  'Perrier',
  'Dominique',
  '(1) 47.55.6555',
  '25, rue Lauriston',
  '',
  'Paris',
  '',
  '75016',
  'France',
  '1337',
  '95000.00'),
 ('409',
  'Stuttgart Collectable Exchange',
  'Müller',
  'Rita ',
  '0711-555361',
  'Adenauerallee 900',
  '',
  'Stuttgart',
  '',
  '70563',
  'Germany',
  '',
  '0.00'),
 ('412',
  'Extreme Desk Decorations, Ltd',
  'McRoy',
  'Sarah',
  '04 499 9555',
  '101 Lambton Quay',
  'Level 11',
  'Wellington',
  '',
  '',
  'New Zealand',
  '1612',
  '86800.00'),
 ('415',
  'Bavarian Collectables Imports, Co.',
  'Donnermeyer',
  'Michael',
  ' +49 89 61 08 9555',
  'Hansastr. 15',
  '',
  'Munich',
  '',
  '80686',
  'Germany',
  '1504',
  '77000.00'),
 ('424',
  'Classic Legends Inc.',
  'Hernandez',
  'Maria',
  '2125558493',
  '5905 Pompton St.',
  'Suite 750',
  'NYC',
  'NY',
  '10022',
  'USA',
  '1286',
  '67500.00'),
 ('443',
  'Feuer Online Stores, Inc',
  'Feuer',
  'Alexander ',
  '0342-555176',
  'Heerstr. 22',
  '',
  'Leipzig',
  '',
  '04179',
  'Germany',
  '',
  '0.00'),
 ('447',
  'Gift Ideas Corp.',
  'Lewis',
  'Dan',
  '2035554407',
  '2440 Pompton St.',
  '',
  'Glendale',
  'CT',
  '97561',
  'USA',
  '1323',
  '49700.00'),
 ('448',
  'Scandinavian Gift Ideas',
  'Larsson',
  'Martha',
  '0695-34 6555',
  'Åkergatan 24',
  '',
  'Bräcke',
  '',
  'S-844 67',
  'Sweden',
  '1504',
  '116400.00'),
 ('450',
  'The Sharp Gifts Warehouse',
  'Frick',
  'Sue',
  '4085553659',
  '3086 Ingle Ln.',
  '',
  'San Jose',
  'CA',
  '94217',
  'USA',
  '1165',
  '77600.00'),
 ('452',
  'Mini Auto Werke',
  'Mendel',
  'Roland ',
  '7675-3555',
  'Kirchgasse 6',
  '',
  'Graz',
  '',
  '8010',
  'Austria',
  '1401',
  '45300.00'),
 ('455',
  'Super Scale Inc.',
  'Murphy',
  'Leslie',
  '2035559545',
  '567 North Pendale Street',
  '',
  'New Haven',
  'CT',
  '97823',
  'USA',
  '1286',
  '95400.00'),
 ('456',
  'Microscale Inc.',
  'Choi',
  'Yu',
  '2125551957',
  '5290 North Pendale Street',
  'Suite 200',
  'NYC',
  'NY',
  '10022',
  'USA',
  '1286',
  '39800.00'),
 ('458',
  'Corrida Auto Replicas, Ltd',
  'Sommer',
  'Martín ',
  '(91) 555 22 82',
  'C/ Araquil, 67',
  '',
  'Madrid',
  '',
  '28023',
  'Spain',
  '1702',
  '104600.00'),
 ('459',
  'Warburg Exchange',
  'Ottlieb',
  'Sven ',
  '0241-039123',
  'Walserweg 21',
  '',
  'Aachen',
  '',
  '52066',
  'Germany',
  '',
  '0.00'),
 ('462',
  'FunGiftIdeas.com',
  'Benitez',
  'Violeta',
  '5085552555',
  '1785 First Street',
  '',
  'New Bedford',
  'MA',
  '50553',
  'USA',
  '1216',
  '85800.00'),
 ('465',
  'Anton Designs, Ltd.',
  'Anton',
  'Carmen',
  '+34 913 728555',
  'c/ Gobelas, 19-1 Urb. La Florida',
  '',
  'Madrid',
  '',
  '28023',
  'Spain',
  '',
  '0.00'),
 ('471',
  'Australian Collectables, Ltd',
  'Clenahan',
  'Sean',
  '61-9-3844-6555',
  '7 Allen Street',
  '',
  'Glen Waverly',
  'Victoria',
  '3150',
  'Australia',
  '1611',
  '60300.00'),
 ('473',
  'Frau da Collezione',
  'Ricotti',
  'Franco',
  '+39 022515555',
  '20093 Cologno Monzese',
  'Alessandro Volta 16',
  'Milan',
  '',
  '',
  'Italy',
  '1401',
  '34800.00'),
 ('475',
  'West Coast Collectables Co.',
  'Thompson',
  'Steve',
  '3105553722',
  '3675 Furth Circle',
  '',
  'Burbank',
  'CA',
  '94019',
  'USA',

## Combining the `WHERE` and `HAVING` clause
We can also use the `WHERE` and `HAVING` clauses in conjunction with each other for more complex rules.
For example, let's say we want a list of customers who have made at least 3 purchases of over 50K each.

In [13]:
cur.execute("""SELECT customerName,
               COUNT(amount) AS number_purchases_over_50K
               FROM customers
               JOIN payments
               USING(customerNumber)
               WHERE amount >= 50000
               GROUP BY 1
               HAVING count(amount) >= 3
               ORDER BY count(amount) DESC;""")
df = pd.DataFrame(cur.fetchall())
df. columns = [i[0] for i in cur.description]
print(len(df))
df.head()

'''
we want list of customers with at least 3 purchases over 50k each

''

53

                   customerName  number_purchases_over_50K
0        Euro+ Shopping Channel                         13
1  Mini Gifts Distributors Ltd.                          9
2       Anna's Decorations, Ltd                          4
3    Australian Collectors, Co.                          4
4            Baane Mini Imports                          4

In [9]:
df.tail()

                customerName  number_purchases_over_50K
48  Stylish Desk Decors, Co.                          3
49       Suominen Souveniers                          3
50      Toys of Finland, Co.                          3
51         Toys4GrownUps.com                          3
52           Vitachrome Inc.                          3

## Summary

After this section, you should have a good idea of how to use aggregate functions, aliases and the having clause to filter selections.